---
const star = "/Filled.png";
const stars = Array.from({ length: 5 }, (_, i) => star);
const { title, name, review, style } = Astro.props;
---

<div
  class=`testimonial-animate shrink-0 p-px rounded-4xl text-white
          transition-all duration-1000 relative dark-btn-shadow dropdown-bg dropdown-shadow-button hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466]
         card-animate-on-touch ${style} max-h-75 h-auto`
>
  <div
    class='testimonial-card w-full h-full bg-transparent relative overflow-hidden p-2.5 sm:py-4 sm:px-3 xl:py-4 xl:px-3 2xl:py-8 2xl:px-4 rounded-4xl dark-btn-shadow dropdown-bg dropdown-shadow-button flex flex-col gap-4 sm:gap-5 z-auto'
  >
    <div class='flex items-center gap-2 w-full relative z-999 pl-3'>
      {
        stars.map((path) => (
          <img
            src={path}
            class='w-4 h-4 md:w-6 md:h-6 xl:w-6 xl:h-6 object-contain'
            alt='star'
          />
        ))
      }
    </div>

    <p
      class='px-3 text-[10px] sm:text-[13px] lg:text-[14px] xl:text-[16px] font-light leading-relaxed wrap-break-word grow relative z-999'
    >
      "{review}"
    </p>

    <div class='flex items-center gap-4 grow-0 relative z-999 pl-3'>
      <img
        src='/lady.png'
        class='w-8 h-8 md:w-12 md:h-12 rounded-full object-cover shrink-0'
        alt='avatar'
      />
      <div class='flex flex-col'>
        <span class='font-medium text-sm lg:text-base xl:text-[19px]'
          >{name}</span
        >
        <span class='text-[10px] xl:text-base font-light md:text-sm opacity-70'
          >{title}</span
        >
      </div>
    </div>
  </div>
</div>

<style>
  @media screen and (max-width: 380px) {
    .testimonial-animate {
      max-width: 500px;
    }
  }
  @media screen and (min-width: 390px) and (max-width: 420px) {
    .testimonial-animate {
      max-width: 480px;
    }
  }
</style>
