---
const { src, title, content, reverse, index, width, margin } = Astro.props;
---

<div
  class=`w-full h-full  flex ${reverse ? 'flex-col-reverse sm:flex-row-reverse' : 'flex-col-reverse sm:flex-row'} justify-between items-center md:gap-10 py-2`
>
  <div
    class='h-full w-full sm:w-fit flex flex-col justify-start items-start lg:gap-3 xl:gap-5'
  >
    <h2
      class='text-[20px] lg:text-[24px] xl:text-[36px] capitalize text-white font-medium'
    >
      {title}
    </h2>
    <p
      class=`text-[#f8f8f8b2] ${width} text-[13px] lg:text-[14px] xl:text-[16px] xl:leading-6 font-light`
    >
      {content}
    </p>
  </div>
  <div
    class=`  ${index === 0 ? 'md:max-w-78.75 md:max-h-78.75 lg:max-w-112.5 lg:max-h-112.5' : 'max-w-70.25 md:max-h-75 md:max-w-75 lg:max-w-90 lg:max-h-90'} xl:max-h-126.25 xl:max-w-126.25 ${margin} flex items-center video-container`
  >
    <video
      src={src}
      muted
      class='object-contain w-fit h-fit tech-video'
    ></video>
  </div>
</div>
