---
const {
  src,
  title,
  content,
  reverse,
  index,
  width,
  margin,
  height,
  cardHeight,
} = Astro.props;
---

<div
  class=`w-full h-full  flex ${reverse ? 'flex-col-reverse sm:flex-row-reverse' : 'flex-col-reverse sm:flex-row'} justify-between items-center gap-2 md:gap-10 py-2 ${cardHeight} `
>
  <div
    class=`h-full w-full sm:w-auto flex flex-col items-start justify-center gap-3 xl:gap-5 `
  >
    <h2
      class='text-[20px] lg:text-[36px] capitalize text-[#f8f8f8f2] font-medium'
    >
      {title}
    </h2>
    <p
      class=`text-[#f8f8f8b2] ${width} text-[13px] lg:text-[16px] xl:leading-6! font-light`
    >
      {content}
    </p>
  </div>
  <div
    class=` ${height}  ${index === 0 ? 'max-w-[390px] max-h-[450px] md:max-w-78.75 md:max-h-78.75  lg:max-w-[364px] lg:h-[450px]' : 'max-w-70.25 md:max-h-75 md:max-w-75 lg:max-w-90 lg:max-h-90'}  xl:max-h-126.25! xl:max-w-126.25! ${margin} flex items-center video-container`
  >
    <video
      src={src}
      muted
      class='object-contain w-fit tech-video grayscale'
    ></video>
  </div>
</div>
