---
const { title, content, height, width } = Astro.props;
---

<div
  class='h-auto grow bg-[#282828B2] rounded-[20px] lg:rounded-4xl relative flex flex-col justify-between hover:bg-linear-to-br! from-[#e6862466] grayscale
   via-transparent to-[#e6862466] card why-us-card dark-btn-shadow dropdown-bg dropdown-shadow-button card-animate-on-touch shrink-0'
>
  <div
    class='w-full h-full rounded-[20px] bg-[#1c1c1c] lg:rounded-4xl p-5 md:p-6 lg:p-7 gap-2 md:gap-15 lg:gap-8 xl:gap-4! xl:p-8! flex flex-col dark-btn-shadow dropdown-bg dropdown-shadow-button justify-between grow'
  >
    <canvas class=`${height} ${width}`></canvas>

    <div class='w-full flex flex-col gap-2 lg:gap-3 xl:gap-5! h-fit'>
      <h3
        class='text-[#f8f8f8f2] text-[14px] lg:text-[26px] capitalize font-medium lg:leading-8 whyus-title'
      >
        {title}
      </h3>
      <p
        class='text-[#f8f8f8b2] text-[12px] lg:text-[14px] leading-4 lg:leading-5 xl:leading-7! xl:text-[18px]! grow whyus-content tracking-[-0.003em]'
      >
        {content}
      </p>
    </div>
  </div>
</div>
<style>
  @media screen and (width: 1024px) {
    .whyus-title {
      font-size: px;
    }
    .whyus-content {
      font-size: 14px;
      line-height: 20px;
    }
    .whyus-content-section {
      padding-right: 12px;
      padding-left: 20px;
    }
  }
</style>

<script>
  const cards = document.querySelectorAll(".why-us-card");

  const imagePaths = [
    { name: "chat", imageCount: 50 },
    { name: "rank", imageCount: 50 },
    { name: "competitive-price", imageCount: 40 },
    { name: "account-manager", imageCount: 50 },
    { name: "honest&valuable", imageCount: 50 },
    { name: "team-of-experts", imageCount: 50 },
  ];

  const currentFrame = (index, path) => {
    return `/why-us/${path}/${index.toString().padStart(4, "0")}.webp`;
  };

  cards.forEach((card, index) => {
    const canvas = card.children[0].children[0] as HTMLCanvasElement;
    const ctx = canvas.getContext("2d");

    const { name, imageCount } = imagePaths[index];

    let images: any = [];
    let frame = 0;
    let animationId: null | number = null;

    let isLoaded = false;
    let isAnimating = false;
    let isHovering = false;
    let hasPlayedForward = false;

    const preloadImages = () => {
      const promises: any = [];

      for (let i = 1; i <= imageCount; i++) {
        const img = new Image();
        img.src = currentFrame(i, name);
        images.push(img);

        promises.push(
          new Promise((resolve) => {
            img.onload = resolve;
            img.onerror = resolve;
          }),
        );
      }

      Promise.all(promises).then(() => {
        isLoaded = true;

        canvas.width = canvas.offsetWidth;
        canvas.height = canvas.offsetHeight;

        ctx?.drawImage(images[0], 0, 0, canvas.width, canvas.height);
      });
    };

    preloadImages();

    const animateForward = () => {
      if (!isLoaded) return;

      isAnimating = true;

      ctx?.clearRect(0, 0, canvas.width, canvas.height);
      ctx?.drawImage(images[frame], 0, 0, canvas.width, canvas.height);

      if (frame < imageCount - 1) {
        frame++;
        animationId = requestAnimationFrame(animateForward);
      } else {
        hasPlayedForward = true;
        isAnimating = false;

        if (!isHovering) {
          animateReverse();
        }
      }
    };

    const animateReverse = () => {
      if (!isLoaded) return;

      isAnimating = true;

      ctx?.clearRect(0, 0, canvas.width, canvas.height);
      ctx?.drawImage(images[frame], 0, 0, canvas.width, canvas.height);

      if (frame > 0) {
        frame--;
        animationId = requestAnimationFrame(animateReverse);
      } else {
        hasPlayedForward = false;
        isAnimating = false;
      }
    };

    card.addEventListener("mouseenter", () => {
      isHovering = true;

      if (!isAnimating && !hasPlayedForward) {
        animateForward();
      }
    });
    card.addEventListener("touchstart", () => {
      isHovering = true;

      if (!isAnimating && !hasPlayedForward) {
        animateForward();
      }
    });

    card.addEventListener("touchend", () => {
      isHovering = false;

      if (!isAnimating && hasPlayedForward) {
        animateReverse();
      }
    });
    card.addEventListener("mouseleave", () => {
      isHovering = false;

      if (!isAnimating && hasPlayedForward) {
        animateReverse();
      }
    });
  });
</script>
